@media screen and (max-width: 1300px) {
    .products-container {
        display: flex;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-gap: 30px;
        margin: 0 auto;
    }
    section{
        padding: 0 32px;
        width: 100%;
        max-width: 100%;
    }
    .footer{
        padding: 50px 32px;
        width: 100%;
        max-width: 100%;
    }
    .categories{
        padding-left: 32px;
    }
}
@media screen and (max-width: 1024px){
    section{
        padding: 0 32px;
        width: 100%;
        max-width: 100%;
    }
    .footer{
        padding: 50px 32px;
        width: 100%;
        max-width: 100%;
    }
    .products-container {
        display: flex;
    }
    .categories{
        padding-left: 32px;
    }
    .product-container{
        grid-template-columns: repeat(3, 200px);
        grid-gap: 20px;
    }
    .product-box-name{
        font-size: 14px;
    }
    .product-box-price{
        font-size: 16px;
        font-weight: 800;
    }
    .product-add-btn{
        font-size: 14px;
    }
    .product-box-weight{
        font-size: 12px;
        margin-top: 16px;
    }
}
@media screen and (max-width: 992px){
    .card{
        max-width: 250px;
        width: 100%;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
    }
    .products-container{
        display: flex;
    }
    .product-container{
        grid-template-columns: repeat(2, 250px);
        grid-gap: 20px;
    }
    .product-box-name{
        font-size: 14px;
    }
    .product-box-price{
        font-size: 16px;
        font-weight: 800;
    }
    .product-add-btn{
        font-size: 14px;
    }
    .product-box-weight{
        font-size: 12px;
        margin-top: 16px;
    }
}
@media screen and (max-width: 850px){
    .card{
        max-width: 300px;
        width: 100%;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .product-container{
        grid-template-columns: repeat(1, 350px);
        grid-gap: 20px;
    }
}
@media screen and (max-width: 768px){
    .header{
        max-height: 80vh;
        height: 80vh;
    }
    .hide-full{
        display: block;
    }
    .banner-bg{
        width: 3800px;
        position: absolute;
        height: 2800px;
        border-radius: 100%;
        z-index: 5;
        top: calc(466px - 2600px);
        background-color: var(--bg-color);
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner-text{
        text-align: center;
        margin: 0 30px;
        font-size: 24px;
        gap: 20px;
    }
    .banner-text h1{
        font-size: 44px;
        line-height: 60px;
    }
    .card{
        display: block;
        position: absolute;
        left: 32px;
        top: 50px;
        z-index: 4;
        width: 300px;
        max-width: 300px;
        padding-top: 0;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
        border-radius: 18px;
    }
    .card-full.hidden{
        display: none;
    }
    .card-empty{
        display: none;
    }
    .card-container {
        width: 100%;
        height: auto;
        padding: 18px 16px;
        background-color: var(--white-color);
    }
    .card-header{
        border-bottom: none;
    }
    .products{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
    }
    .products h2{
        text-align: left;
        margin: 15px 0;
    }
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .products-container{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        width: 100%;
    }
    .product-image{
        width: 100%;
        height: auto;
    }
    .product-image img{
        width: 100%;
        height: 100%;
    }
    .product-box-name{
        font-size: 12px;
    }
    .product-box-price{
        font-size: 16px;
    }
    .product-box-weight{
        font-size: 12px;
        margin-top: 16px;
    }
    .category-block{
        width: 120px;
        height: 40px;
        font-size: 12px;
    }
    .category-block h4{
        font-size: 14px;
    }
    .category-block img{
        width: 20px;
        height: 20px;
    }
    .categories{
        grid-gap: 12px;
    }
    .product-add-btn{
        font-size: 12px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-left, .footer-right{
        width: 100%;
    }
    .footer-right-phone, .footer-right-social{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer-company{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-left{
        margin-bottom: 30px;
    }
    .footer-right{
        display: grid;
        grid-gap: 30px;
    }
}

@media screen and (max-width: 640px){
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .category-block{
        width: 120px;
        height: 40px;
    }
    .category-block h4{
        font-size: 14px;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner-text{
        text-align: center;
        margin: 0 30px;
        font-size: 24px;
        gap: 20px;
    }
    .banner-text h1{
        font-size: 36px;
        line-height: 44px;
    }
    .modal, .modal-delivery{
        width: 100%;
        height: 100%;
    }
    .modal-container, .modal-delivery-container{
        width: 100%;
        height: 100%;
        max-width: 94%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .modal-container h2{
        font-size: 28px;
    }
    .product-box-name{
        font-size: 16px;
    }
    .product-box-price{
        font-size: 16px;
        font-weight: 800;
    }
    .product-add-btn{
        font-size: 16px;
    }
    .modal-content-desc{
        overflow-y: scroll;
    }
    .modal-content-desc h4{
        font-weight: 400;
        line-height: 130%;
    }
    .modal-content-desc p{
        font-weight: 600;
        margin-top: 10px;
        font-size: 14px;
    }
    .modal-content-desc ul li{
        line-height: 130%;
        font-size: 12px;
    }
    .modal-delivery-left{
        display: none;
    }
    .modal-delivery-right{
        width: 100%;
    }
}
@media screen and (max-width: 520px){
    .products h2{
        left: 50%;
        transform: translate(-50%, -20%);
        text-align: center;
        width: 100%;
        display: block;
    }
    .product-container {
        grid-template-columns: repeat(1, 300px);
    }
    .footer-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-logo{
        width: 80%;
        margin: 0 auto;
    }
    .modal, .modal-delivery{
        width: 100%;
        height: auto;
        min-height: 100vh;
        max-width: 100vw;
    }
    .modal-content-img{
        height: auto;
        max-width: 100%;
        width: auto;
        margin: 0 auto;
    }
    .modal-container{
        width: 100%;
        height: 100%;
        min-height: 100vh;
        max-width: 100vw;
        border-radius: 0;
    }
    .modal-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-add-btn{
        font-size: 16px;
    }
    .close{
        top: 30px;
        right: 30px;
        font-size: 24px;
    }
    .product-box-price{
        font-size: 18px;
        font-weight: 800;
    }
    .product-box-name{
        font-size: 20px;
    }
    .product-box-weight{
        font-size: 14px;
    }
    .modal-price{
        line-height: 40px;
        position: absolute;
        bottom: 50px;
        right: 0px;
    }
}

@media screen and (max-width: 380px){
    .product-container {
        grid-template-columns: repeat(1, 100%);
        grid-gap: 10px;
    }
    .footer-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-logo{
        width: 80%;
        margin: 0 auto;
    }
    .card{
        width: 100%;
        max-width: 100%;
    }   
}
